<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem <a href="#">Read more</a>. 
    </p>
    <p>
      Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. 
    </p>
  </div>

  <div class="col-2 homepage_content">
    <h2>Beer Reviews</h2>
    <hr>

    <% @beerposts.each do |beerpost| %>
    <% end %>
  </div>

  <div class="col-3 homepage_content">
    <h2>Wine Reviews</h2>
    <hr>
    <h3><a href="#">Unicast</a></h3>
    <p class="date">Friday April 10th</p>
    <h3><a href="#">Podcast FM</a></h3>
    <p class="date">Friday May 10th<</p>
    <h3><a href="#">12 in 12 Challenge</a></h3>
    <p class="date">Friday June 10th</p>
  </div>

</div>