<header id ="main_navigation" class="clearfix">
  <%= link_to "Disciples of Dionysus", root_path, :class=>"name" %>
  <nav>
    <%= link_to "Articles", beerposts_path %>
    <a href="#">Users</a>
    <a href="#">Contact</a>
  </nav>
</header>