<header id ="main_navigation" class="clearfix">
  <a href="#" class="name">Disciples of Dionysus</a>
  <nav>
    <%= link_to "Articles", beerposts_path %>
    <a href="#">Users</a>
    <a href="#">Contact</a>
  </nav>
</header>